* {
    font-family: Microsoft YaHei, Tahoma, Helvetica, Arial, sans-serif;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 3px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ffcccc;
}

.icon-button {
    background: none;
    border: none;
    color: inherit;
}

.divelp {
    /*width: 100px;*/
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.divelp1 {
    /*width: 100px;*/
    /* height: 20px;
    max-height: 40px;
    line-height: 20px; */
    overflow : visible;
    word-break: break-all;
}